*{
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: rgb(135, 159, 241);
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 90vh;
    font-size: 2.2em;
}
input{
height: 8vh;
font-size: 1rem;
background-color: cornsilk;
color: darkgoldenrod;
border-radius: 20px;
}

button{
    background-color: rgb(127, 219, 223);
    font-size: 0.6em;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}